@import './../../../styles/color_pallete.scss';

.circle-button-main-wrapper {
  width: 2.31rem;
  height: 2.31rem;
  border-radius: 50%;
  background-color: $night-black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
